<div class="container mt-4 mb-3">
  <div class="row">
    <div class="col-12">
      <h4 class="text-center font-weight-bold" style="color: #6e470c; ">
      ご予約完了</h4>
    </div>
  </div>
</div>
<div class="container-md text-center mt-3 mb-5 pb-5">
  <div class="row ">
    <div class=" col-8 offset-2  bg-white pt-5 pb-5 shadow-sm">
      <h4><%= current_customer.name %> 様</h4>
      <h5>ご予約 ありがとうございます</h5>
      <h5>ご来店を心よりお待ちしております</h5>
      </div>
  </div>
</div>