<footer class="bg-dark text-white pt-3">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-6">
            <p>まだ美味しく食べられる食品を繋ぐ</p>
             <img src="/assets/logo.footer.png" width="150" height="60" class="d-inline-block align-top" alt="">
          </div>

        </div>
      </div>
</footer>